extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          .page-title
            h1 Add Your Event

          form#new-event-form(action="/events/add", method="post")

            // Event Details
            .background-white.p30.mb30
              h3.page-title Event Details
              .form-group
                input.form-control(type='text', placeholder='Title', name="title")
              .row
                .col-sm-6
                  .input-group
                    span.input-group-addon
                      i.fa.fa-calendar
                    input.form-control(type='date', placeholder='Start date', name="start_date")
                  .input-group
                    span.input-group-addon
                      i.fa.fa-users
                    input.form-control(type='text', placeholder='Number of visitors (i.e.: 9-100K)', name="visitors")
                .col-sm-6
                  .input-group
                    span.input-group-addon
                      i.fa.fa-calendar
                    input.form-control(type='date', placeholder='End date', name="end_date")
                  .input-group
                    span.input-group-addon
                      i.fa.fa-tag
                    input.form-control(type='text', placeholder='Tags (i.e: sports,cars,travel)', name="tags")
              .form-group
                textarea.form-control(placeholder='Event Description', rows='8', name="description")

            // Contact info
            .background-white.p30.mb30
              h3.page-title Contact Info
              .row
                .col-sm-6
                  .input-group
                    span.input-group-addon
                      i.fa.fa-user
                    input.form-control(type='text', placeholder='Organizer name', name="organizer")
                  .input-group
                    span.input-group-addon
                      i.fa.fa-phone
                    input.form-control(type='text', placeholder='Phone', name="phone")
                .col-sm-6
                  .input-group
                    span.input-group-addon
                      i.fa.fa-at
                    input.form-control(type='text', placeholder='E-mail', name="email")
                  .input-group
                    span.input-group-addon
                      i.fa.fa-globe
                    input.form-control(type='text', placeholder='Website', name="site")

            // Social
            .background-white.p30.mb30
              h3.page-title Social Accounts
              .row
                .col-sm-6
                  .input-group
                    span.input-group-addon
                      i.fa.fa-facebook
                    input.form-control(type='text', placeholder='Facebook', name="facebook")
                  .input-group
                    span.input-group-addon
                      i.fa.fa-twitter
                    input.form-control(type='text', placeholder='Twitter', name="twitter")
                .col-sm-6
                  .input-group
                    span.input-group-addon
                      i.fa.fa-youtube
                    input.form-control(type='text', placeholder='YouTube', name="youtube")
                  .input-group
                    span.input-group-addon
                      i.fa.fa-google-plus
                    input.form-control(type='text', placeholder='Google+', name="gplus")
            
            .row
              // Detailed Location
              .col-sm-12
                .background-white.p30.mb30
                  h3.page-title
                    | Detailed Location
                    input#pac-input.controls.form-control.mb30(type='text', placeholder='Enter a location', name="location")
                    #map-canvas
                    .row
                      .col-sm-6
                        .input-group
                          span.input-group-addon
                            i.fa.fa-map-marker
                          input#input-latitude.form-control(type='text', placeholder='Latitude', name="lat")
                      .col-sm-6
                        .input-group
                          span.input-group-addon
                            i.fa.fa-map-marker
                          input#input-longitude.form-control(type='text', placeholder='Longitude', name="lng")

              // Video
              .col-sm-12
                .background-white.p30.mb30
                  h3.page-title Video Intro
                  .form-group
                    input.form-control(type='text', placeholder='Video code from YouTube', name="video")

              // Gallery
              .col-sm-12
                #gallery-pics-upload-cnt.background-white.p30.mb30
                  h3.page-title
                    | Gallery
                  .gallery-preview.file-preview
                    .clearfix
                  .upload-gallery
                  br
                  .upload-gallery-progress.progress.hidden
                    .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width:0%')
                      | 0%

              // Header image
              .col-sm-12
                #header-pic-upload-cnt.background-white.p30.mb30
                  h3.page-title
                    | Header Image
                  .gallery-preview.file-preview
                    .clearfix
                  .upload-gallery
                  br
                  .upload-gallery-progress.progress.hidden
                    .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width:0%')
                      | 0%

              // Logo
              .col-sm-12
                #logo-upload-cnt.background-white.p30.mb30
                  h3.page-title
                    | Logo
                  .gallery-preview.file-preview
                    .clearfix
                  .upload-gallery
                  br
                  .upload-gallery-progress.progress.hidden
                    .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width:0%')
                      | 0%

            .center
              button.btn.btn-primary.btn-xl(type='submit') Add Event

          // /.center
        // /.content
      // /.container
    // /.main-inner
  // /.main
