.DS_Store
.idea
.idea/*
.settings.xml
.monitor
.env
node_modules/*
node_modules
npm-debug.log
crash.log
builtAssets
tools/*.log
config.json
config/*.json
errors.dump
logs.dump
.vagrant
css.digest
js.digest
img.digest

public/css/*
public/js/app
public/js/*.js

crons/*.js

