footer.footer
  .footer-top
    .container
      .row
        .col-sm-4
          h2 About SponsorGigs
          p
            | Sponsor events all around the world.
        // /.col-*
        .col-sm-4
          h2 Contact Information
          p
            | 4221 24th St, San Francisco, CA 94114, United States
            br
            |                         +1 (650) 924-9925, 
            a(href='mailto:contact@sponsorgigs.com') contact@sponsorgigs.com
        // /.col-*
        .col-sm-4
          h2 Stay Connected
          ul.social-links.nav.nav-pills
            li
              a(href='https://twitter.com/sponsorgigs', target="_blank")
                i.fa.fa-twitter
            li
              a(href='https://www.facebook.com/sponsorgigs', target="_blank")
                i.fa.fa-facebook
          // /.header-nav-social
        // /.col-*
      // /.row
    // /.container
  // /.footer-top
  .footer-bottom
    .container
      .footer-bottom-left
        | © 2015 All rights reserved.
      // /.footer-bottom-left
      .footer-bottom-right
        ul.nav.nav-pills
          li
            a(href='/') Home
          li
            a(href='/events') Events
          li
            a(href='/pricing') Pricing
          li
            a(href='http://blog.sponsorgigs.com', target="_blank") Blog 
          li
            a(href='/faq') FAQ
          li
            a(href='/terms') Terms & Conditions
          li
            a(href='/contact') Contact
        // /.nav
      // /.footer-bottom-right
    // /.container
