footer.footer
  .footer-top
    .container
      .row
        .col-sm-4
          h2 About SponsorGigs
          p
            | Sponsor events all around the world.
        // /.col-*
        .col-sm-4
          h2 Contact Information
          p
            | Your Street 123, Melbourne, Australia
            br
            |                         +1-123-456-789, 
            a(href='mailto:contact@sponsorgigs.com') contact@sponsorgigs.com
        // /.col-*
        .col-sm-4
          h2 Stay Connected
          ul.social-links.nav.nav-pills
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-google-plus
            li
              a(href='#')
                i.fa.fa-linkedin
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-instagram
            li
              a(href='#')
                i.fa.fa-pinterest-p
          // /.header-nav-social
        // /.col-*
      // /.row
    // /.container
  // /.footer-top
  .footer-bottom
    .container
      .footer-bottom-left
        | © 2015 All rights reserved.
      // /.footer-bottom-left
      .footer-bottom-right
        ul.nav.nav-pills
          li
            a(href='/') Home
          li
            a(href='/events') Events
          li
            a(href='/pricing') Pricing
          li
            a(href='/faq') FAQ
          li
            a(href='/terms') Terms & Conditions
          li
            a(href='/contact') Contact
        // /.nav
      // /.footer-bottom-right
    // /.container
