doctype html
html(lang='en')
  head
    title= title ? title + " - Sponsor Events - SponsorGigs.com" : "Sponsor Events - SponsorGigs.com"

    meta(name='description', content='Sponsor events.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    //- link(href=CSS("master"), rel="stylesheet")

  body
    block content

    include ./_analytics