<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <p>Congratulations, a new gig was added on our platfom!</p>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Gig: <a href="{{gig_url}}">{{gig_url}}</a></p>
    <p>Edit gig: <a href="{{gig_edit_url}}">{{gig_edit_url}}</a></p>
    <p>User IP: {{user_ip}}</p>
    <p>User-Agent: {{user_agent}}</p>
  </body>
</html>