.pricings
  .row
    .col-sm-4
      .pricing
        .pricing-title Personal
        // /.pricing-title
        .pricing-subtitle For Personal Use
        // /.pricing-subtitle
        .pricing-price
          span.pricing-currency $
          | 10.59 
          span.pricing-period / month
        // /.pricing-price
        a.btn-primary(href='#') Get Started
        hr
        ul.pricing-list
          li
            span Max. Submissions
            strong Limited number
          li
            span Custom Agents
            strong One agent for all
          li
            span Support
            strong Mail communication
        // /.pricing-list
        hr
        a.pricing-action(href='#') Full List of Features
      // /.pricing
    // /.col-*
    .col-sm-4
      .pricing
        .pricing-title Business
        // /.pricing-title
        .pricing-subtitle Best for Companies
        // /.pricing-subtitle
        .pricing-price
          span.pricing-currency $
          | 19.59 
          span.pricing-period / month
        // /.pricing-price
        a.btn-primary(href='#') Get Started
        hr
        ul.pricing-list
          li
            span Max. Submissions
            strong Unlimited number
          li
            span Custom Agents
            strong One agent for all
          li
            span Support
            strong Mail communication
        // /.pricing-list
        hr
        a.pricing-action(href='#') Full List of Features
      // /.pricing
    // /.col-*
    .col-sm-4
      .pricing
        .pricing-title Unlimited
        // /.pricing-title
        .pricing-subtitle Entrepreneurs
        // /.pricing-subtitle
        .pricing-price
          span.pricing-currency $
          | 49.59 
          span.pricing-period / month
        // /.pricing-price
        a.btn-primary(href='#') Get Started
        hr
        ul.pricing-list
          li
            span Max. Submissions
            strong Unlimited number
          li
            span Custom Agents
            strong Unlimited number
          li
            span Support
            strong Personal training
        // /.pricing-list
        hr
        a.pricing-action(href='#') Full List of Features
      // /.pricing
    // /.col-*
  // /.row
// /.pricings