extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          #about-us-title-header.document-title
            h1 About Us
          
          .block.background-white.fullwidth
            h2.text-center OUR STORY

            .row
              .col-sm-2
              .col-sm-8
                p.text-center We know the struggles of finding sponsors for yourself, as we went through it a couple of times before. You just don't know where to begin, who to ask, what the whole process entails. So after our experience we decided to make it our goal to create such a platform, where talent meets sponsors and vice-versa, also works with whole projects or different kind of events. Sounds great, doesn't it? We hope you find it as awesome and useful as we intended it to be and we also welcome any feedback you may have! Thank you!
              .col-sm-2

          h2.text-center PURPOSE

          p.text-center PROVIDE SPONSORS FOR EVERYONE!

          .row
            .col-sm-2
            .col-sm-8
              p.text-center We created SponsorGigs because we wanted to help projects who were having difficulty finding a sponsor, just like us. But that's not the only goal we want to achieve. We want to help companies achieve higher levels of awareness and expand their networking.
            .col-sm-2

          .block.background-white.fullwidth
            h2.text-center OUR MISSION

            p.text-center PROMOTE YOUR BUSINESS THROUGH THE RIGHT EVENT/TALENT!
            
            .row
              .col-sm-2
              .col-sm-8#about-us-mission-items
                .col-sm-4
                  .mission-item.text-center
                    | We are the bridge between companies who want to invest and events/talent who can boost your brand. 
                .col-sm-4
                  .mission-item.text-center
                    | We make the process of sponsorship as easy as possible, while keeping the focus on your brand's key values.
                .col-sm-4
                  .mission-item.text-center
                    | We provide our customers with a wide selection of events and talent. Searching is easy and fast.
              .col-sm-2

          //- h2.text-center OUR TEAM

          //- .row
          //-   .col-sm-3
          //-   .col-sm-3
          //-     p.text-center
          //-       img(src="/img/marko.jpg", width="150", height="150")
          //-     p.text-center Marko
          //-   .col-sm-3
          //-     p.text-center
          //-       img(src="/img/dumitru.jpg", width="150", height="150")
          //-     p.text-center Dumitru
          //-   .col-sm-3

