extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          #contact-title-header.document-title
            h1 Contact Us
          // /.document-title
          p
            | If you have difficulties adding an event, sponsoring a gig or any other issues, we will be happy to assist you.
          .row
            .col-sm-4
              h3 Address
              p
                | 4221 24th St, San Francisco,
                br
                | California 94114, United States
            // /.col-sm-4
            .col-sm-4
              h3 Contacts
              p
                | Support Center
                br
                |                     +1 (650) 924-9925
            // /.col-sm-4
            .col-sm-4
              h3 Social Profiles
              ul.social-links.nav.nav-pills
                li
                  a(href='https://twitter.com/sponsorgigs', target="_blank")
                    i.fa.fa-twitter
                li
                  a(href='https://www.facebook.com/sponsorgigs', target="_blank")
                    i.fa.fa-facebook

          .row
            .col-sm-12
              h3 We’d love to hear from you
              .contact-form-wrapper.clearfix.background-white.p30
                p.hidden.bg-message.bg-success
                  | Thanks for contacting us, one of our agents will contact you soon.
                form#contact-form.contact-form(method='post', action='/contact')
                  .form-group
                    label(for='contact-form-name') Name
                    input#contact-form-name.form-control(type='text', name='name', required)
                  .form-group
                    label(for='contact-form-email') E-mail
                    input#contact-form-email.form-control(type='email', name='email', required)
                  .form-group
                    label(for='contact-form-subject') Subject
                    input#contact-form-subject.form-control(type='text', name='subject', required)
                  .form-group
                    label(for='contact-form-message') Message
                    textarea#contact-form-message.form-control(rows='6', name="message", required)
                  button.btn.btn-primary.pull-right Post Message
