extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          .page-title
            h1 FAQ
          // /.page-title
          .faq
            .faq-item
              .faq-item-question
                h2 What is SponsorGigs?
              // /.faq-item-question
              .faq-item-answer
                p
                  | SponsorGigs is a simple platform that connects sponsors with events/people. So whether you're a local sports star looking to get funds or a business in need of spreading the word, we will connect the dots for you! Browse our database now and find the partner that suits you!
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 How do I start a project?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Create your event or project and bring it to life. You will also need pictures, a cool looking video and any other useful information about the event or yourself. Do your best to attract the prospective sponsors!
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 What are the fees?
              // /.faq-item-question
              .faq-item-answer
                p
                  | You're in luck! We are holding a limited no-fee registration offer right now.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Am I guaranteed to find a suitable sponsor/event?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Our hopes are high, but in case it doesn’t work, we give you a money-back guarantee, which lasts for 30 days from the date of your registration.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Can I upload any event I want?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Feel free to upload away, but keep in mind that all our events are being reviewed before appearing on the website. So pay special attention to the level of quality and authenticity when doing so!
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Why do companies invest in sponsorships?
              // /.faq-item-question
              .faq-item-answer
                p
                  | There are many ways in which companies can benefit from supporting events or people. At the core stands the company's desire to promote a cause/talent that they feel represent their business values. It can also be a great way to connect with the local community and network. It is a continuous source of word-of-mouth promotion and reliability.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Who is responsible for completing an event or project?
              // /.faq-item-question
              .faq-item-answer
                p
                  | SponsorGigs is not involved in the development of the projects themselves. It's the project creator's responsibility to complete them. Consequently, SponsorGigs does not guarantee projects or investigate a creator's ability to complete their project. You ultimately decide the validity and worthiness of a project.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 How do I know a project creator is who they claim to be?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Ideally you already know the creator or you heard about the project from a reliable source. If that's not the case, please check the creator section where you can find additional resources (mail, links to the website, etc).
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 How do I report copyright/trademark violation?
              // /.faq-item-question
              .faq-item-answer
                p
                  | If you are unsure whether the material infringes your copyright, please talk to your lawyer first. Otherwise, please use the Contact form to submit your complaint or reach us directly via contact@sponsorgigs.com.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
          // /.faq
          //- .pager
          //-   ul
          //-     li
          //-       a(href='#') Prev
          //-     li
          //-       a(href='#') 5
          //-     li.active
          //-       a 6
          //-     li
          //-       a(href='#') 7
          //-     li
          //-       a(href='#') Next
          //- // /.pagination
        // /.content
      // /.container
    // /.main-inner
  // /.main
