extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          .page-title
            h1 FAQ
          // /.page-title
          .faq
            .faq-item
              .faq-item-question
                h2 Nulla blandit eu eros nec ultrices?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Nulla blandit eu eros nec ultrices?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Nulla blandit eu eros nec ultrices?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Nulla blandit eu eros nec ultrices?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
            .faq-item
              .faq-item-question
                h2 Nulla blandit eu eros nec ultrices?
              // /.faq-item-question
              .faq-item-answer
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit eu eros nec ultrices. Aliquam gravida dictum odio sed gravida. Nunc posuere imperdiet lectus, et rutrum arcu bibendum eu. Praesent vitae purus vulputate, mattis dolor non, euismod urna. Vivamus porta et urna ultricies commodo.
              // /.faq-item-answer
              .faq-item-meta
                | Was this answer helpful?
                span.rate
                  a(href='#') Yes
                  span.separator /
                  a(href='#') No
                // /.rate
              // /.faq-item-meta
            // /.faq-item
          // /.faq
          .pager
            ul
              li
                a(href='#') Prev
              li
                a(href='#') 5
              li.active
                a 6
              li
                a(href='#') 7
              li
                a(href='#') Next
          // /.pagination
        // /.content
      // /.container
    // /.main-inner
  // /.main
