extends ../layout

block content
  .main
    .main-inner
      .content
        .mt-80
          .hero-image
            .hero-image-inner(style="background-image: url(#{CDN('/img/home_header_3.jpg')};")
              .hero-image-content
                .container
                  h1 Sponsor events
                  p
                    | Sponsor events or get sponsored.
                  a.btn.btn-primary.btn-lg(href='/events') Sponsor events
                  a.btn.btn-secondary.btn-lg(href='/events/add') Add your event
                // /.container
              // /.hero-image-content
              .hero-image-form-wrapper
                .container
                  .row
                    .col-sm-4.col-sm-offset-8.col-lg-4.col-lg-offset-7
                      form(method='get', action='/events')
                        h2 Start Searching
                        .hero-image-keyword.form-group
                          input.form-control(type='text', placeholder='Keyword')
                        // /.form-group
                        //- .hero-image-location.form-group
                        //-   select.form-control(title='Location')
                        //-     option Antwerp
                        //- // /.form-group
                        //- .hero-image-category.form-group
                        //-   select.form-control(title='Category')
                        //-     option(value='sports') Sports
                        //- // /.form-group
                        //- .hero-image-price.form-group
                        //-   input.form-control(type='text', placeholder='Min. Price')
                        // /.form-group
                        button.btn.btn-primary.btn-block(type='submit') Search
                    // /.col-*
                  // /.row
                // /.container
              // /.hero-image-form-wrapper
            // /.hero-image-inner
          // /.hero-image
        .container
          .block.background-white.fullwidth
            .page-header
              h1 What we do
            .row.what-we-do-cnt
              .col-sm-4
                .what-we-do-item.magnifier
                  | Are you looking for a sponsor - for yourself or your event?
              .col-sm-4
                .what-we-do-item.add-user
                  | Just add your details and some nice pictures! Videos are awesome too!
              .col-sm-4
                .what-we-do-item.contact-you-soon
                  | You’re all set! The prospective sponsors will contact you soon!
            .row.what-we-do-cnt
              .col-sm-4
                .what-we-do-item.event
                  | Are you looking to sponsor an event/talent for your business?
              .col-sm-4
                .what-we-do-item.search
                  | Browse through our lists and pick one that suits you!
              .col-sm-4
                .what-we-do-item.contact-event-manager
                  | Contact the event manager/talent and get the sponsorship started!

        .container
          .page-header
            h1 Most Recent Events
            p
              | Check them out and choose one to invest in!
          include ../events/_gigs_list

        .container          
          .block.background-white.fullwidth
            .page-header
              h1 Testimonials
              p
                | Read what our customers say about our services.
            // /.page-header
            .row
              .col-sm-6
                .testimonial
                  .testimonial-image
                    img(src="#{CDN('/img/testimonials/jason.jpg', true)}")
                  // /.testimonial-image
                  .testimonial-inner
                    .testimonial-title
                      h2 Exactly What I Need
                      .testimonial-rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      // /.testimonial-rating
                    // /.testimonial-title
                    | I am thankful this service exists, because I have doubts our event would have even taken place without it... Everyone was professional and the communication ran smoothly, which I appreciated.
                    .testimonial-sign - Alex Lam
                    // /.testimonial-sign
                  // /.testimonial-inner
                // /.testimonial
              .col-sm-6
                .testimonial
                  .testimonial-image
                    img(src="#{CDN('/img/testimonials/marko.jpg', true)}")
                  // /.testimonial-image
                  .testimonial-inner
                    .testimonial-title
                      h2 Great Sponsor Platform
                      .testimonial-rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      // /.testimonial-rating
                    // /.testimonial-title
                    | Great platform if you're looking for local events to promote your business, an effective way to spread the word and network, from my experience.
                    .testimonial-sign - Jason Rodriguez
                    // /.testimonial-sign
                  // /.testimonial-inner
                // /.testimonial

          .page-header
            h1 Limited Offer
            p
              | Use this limited-time offer and post your event for free.
            p.center
              a(href="/events/add", class="btn btn-primary btn-lg") Add your event for FREE
          // /.page-header

          .block.background-secondary.fullwidth.mt80.mb-80.pt60.pb60
            .row
              .col-sm-12
                .contact-info-wrapper
                  h2 Do You Have Any Questions?
                  .contact-info
                    span.contact-info-item
                      i.fa.fa-at
                      span contact@sponsorgigs.com
                    // /.contact-info-item
                    span.contact-info-item
                      i.fa.fa-phone
                      span +1 (650) 924-9925

