extends ../layout

block content
  .main
    .main-inner
      .container
        .content
          .mt-80
            .page-header
              h1 Limited Offer
              p
                | Use this limited-time offer and post your event for free.
              p.center
                a(href="/events/add", class="btn btn-primary btn-lg") Add your event for FREE!