.file-preview
  overflow hidden

.file-preview-frame, .file-preview-image, .file-preview-other
  width 110px
  height 90px
  vertical-align middle

.hero-image-inner:after
  background none
  
.bg-message
  padding 10px

.what-we-do-cnt
  text-align center
  div
    border 2px solid #f7f8f9
    min-height 150px
    width 30%
    margin 5px
    p
      position relative
      top 90px
  .magnifier
    background url("/img/what_we_do/magnifier.png") no-repeat center 5px
  .add-user
    background url("/img/what_we_do/add_user.png") no-repeat center 5px
  .contact-you-soon
    background url("/img/what_we_do/contact_you_soon.png") no-repeat center 5px
  .event
    background url("/img/what_we_do/event.png") no-repeat center 5px
  .search
    background url("/img/what_we_do/search.png") no-repeat center 5px
  .contact-event-manager
    background url("/img/what_we_do/contact_event_manager.png") no-repeat center 5px

#about-us-mission-items
  div
    border 2px solid #f7f8f9
