.file-preview
  overflow hidden

.file-preview-frame, .file-preview-image, .file-preview-other
  width 110px
  height 90px
  vertical-align middle

.hero-image-inner:after
  background none
  
.bg-message
  padding 10px
