.file-preview
  overflow hidden

.file-preview-frame, .file-preview-image, .file-preview-other
  width 110px
  height 90px
  vertical-align middle

.hero-image-inner:after
  background none
  
.bg-message
  padding 10px

.what-we-do-cnt
  text-align center
  .what-we-do-item
    border 2px solid #f7f8f9
    min-height 150px
    margin 5px auto 5px auto
    padding-top 90px
  .magnifier
    background url("/img/what_we_do/magnifier.png") no-repeat center 5px
  .add-user
    background url("/img/what_we_do/add_user.png") no-repeat center 5px
  .contact-you-soon
    background url("/img/what_we_do/contact_you_soon.png") no-repeat center 5px
  .event
    background url("/img/what_we_do/event.png") no-repeat center 5px
  .search
    background url("/img/what_we_do/search.png") no-repeat center 5px
  .contact-event-manager
    background url("/img/what_we_do/contact_event_manager.png") no-repeat center 5px

#about-us-mission-items
  .mission-item
    border 2px solid #f7f8f9
    padding 10px
    min-height 120px
    margin 10px auto 10px

.bcg
  background-position center center
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  height 100%
  width 100%

.hsContainer
  display table
  table-layout fixed
  width 100%
  height 100%
  overflow hidden
  position relative

.detail-banner-left
  left 10% !important

